.aviaTable
{
    display: table;
    min-width: 1000px;
    position: relative;
    background-color: rgba(65 ,105 ,225, 0.5);
}

.tr
{
    width: 100%;
}
.tHead
{
    width: 100%;
    display: table-row;
}

.tr:nth-child(2n+1)
{
    background-color: rgba(65 , 105 ,225, 0.5);
}

.cell
{
    width: 11.11%;
    height: 60px;
    float: left;
}
.header
{
    background-color: #6495ed;
}

.tr:hover .cell:hover:before
{
    content: '';
    position: absolute;
    top: 0;
    height: 100%;
    width: 11.11%;
    background-color: #87ceff;
    z-index: -1;
}
img
{
    max-width: 80%;
    max-height: 80%;
}

.tr:hover
{
    background-color: #1e90ff !important;
}

/*Поиск по городам*/
.inputCity
{
    width: 100%;
}

.inputCity[value=""] ~ .tr,
.inputCity[value="Ираклион"] ~ .tr[aeroport="Ираклион"],
.inputCity[value="Санкт-Петербург"] ~ .tr[aeroport="Санкт-Петербург"],
.inputCity[value="Сочи"] ~ .tr[aeroport="Сочи"],
.inputCity[value="Абакан"] ~ .tr[aeroport="Абакан"],
.inputCity[value="Ракка"] ~ .tr[aeroport="Ракка"]
{
    display: table-row;
}

/*Проверяющая форма*/
.submitButton
{
    visibility: hidden ;
}

.inputTel:valid + .inputEmail:valid ~ .submitButton
{
    visibility: visible;
}

.terminalA:checked ~ .tr:not([numberTerminal="A"]),
.terminalB:checked ~ .tr:not([numberTerminal="B"]),
.terminalC:checked ~ .tr:not([numberTerminal="C"]),
.terminalD:checked ~ .tr:not([numberTerminal="D"])
{
    display: none;
}

.hidden
{
    visibility: hidden;
}
